/*titulos h1 todas las paginas*/
.seccionTitulo{
    text-align: center;
    display: block;
    color: $color-rosa;
    line-height: 1.5rem;
    .tituloPrincipal{
        padding-top: $t-50px;
        padding-bottom:$t-50px;
        font-size: 3rem;
        font-weight: 300;
        .grosor1{
            color: $color-fuente;
        }
    }
    .parrafo{
        color: $color-fuente;
        text-align: left;
    }
}    
/*mapa para color rosa de fuentes*/
.resaltar{
    color: map-get($color-resaltar-fuente,  colorrosa);
    font-weight: bold;
}

/*titulo h2 todas las paginas*/
.tituloH2{
    color: $color-fuente;
    text-align: center;
    padding-top: $t-50px;
}

/*titulo h3 para recetas*/   
.tituloH3{
    color: $color-fuente;
    text-align: center;
    margin-top:$t-30px;
    padding-top: $t-30px;
}

/*titulo H5 para recetas*/
.tituloH5{
    margin: $t-10px;
}

/*botones para las pags. clases, contacto y error404*/
.btn-primary{
    width:$t-120px;
    background-color: rgba(212, 12, 12, 0);
    color: $color-fuente;
    border: 1px solid $color-fuente-nav;
    border-radius: $t-25px;
    font-size: $t-16px;
    text-align: center;
    padding:$t-10px;
    cursor: pointer;
    &:hover{
        color: $color-fuente;
        background-color: rgba(212, 12, 12, 0);
        border-color: $color-fuente-nav;
       
    }
}
/*animaciones para los botones*/
.hvr-radial-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    background-color: rgba(212, 12, 12, 0);;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-radial-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $color-gris-principal;
    border-radius:$t-100por;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
    color: $color-fuente;
  }
  .hvr-radial-out:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before {
    -webkit-transform: scale(2);
    transform: scale(2);
  }




