/*colores*/
$color-gris-principal: #d4cdcd;
$color-fondo: #d4cdcd89;
$color-fuente: #1e1e1e;
$color-fuente-nav: #363636;
$color-gris: #817d7d;
$color-rosa: #FB4D71;

/*tamaños en px*/
$t-0px:0px;
$t-5px:5px;
$t-10px:10px;
$t-12px:12px;
$t-15px:15px;
$t-16px:16px;
$t-20px:20px;
$t-25px:25px;
$t-30px:30px;
$t-40px:40px;
$t-50px:50px;
$t-70px:70px;
$t-80px:80px;
$t-120px:120px;
$t-150px:150px;
$t-160px:160px;
$t-180px:180px;
$t-200px:200px;
$t-250px:250px;
$t-300px:300px;
$t-350px:350px;
$t-400px:400px;
$t-500px:500px;

/*tamaño en %*/
$t-100por:100%;

/*mapa color rosa de fuentes en parrafors y titulos*/
$color-resaltar-fuente:(
    colorrosa:#FB4D71,
)






